/* Global Styling */
body {
background-color: rgb(16, 14, 29);
font-family: Oswald;
font-size: 1rem;
}
button {
  background-color: dimgray;
  border: none;
  color: white;
  font-family: Montserrat, sans-serif !important;
  font-weight: bold;
}
button:hover {
  background-color: white;
  color: rgb(30, 33, 58);
  cursor: pointer;
}
div {
background-color: rgb(30, 33, 58);
color: white;
padding: 20px;
text-align: center;
}
h2, h3 {
color: white;
font-family: Roboto, sans-serif !important;
padding-left: 40px;
text-align: left !important;
}
img {
  height: 60px;
  width: 60px;
}
                /* All Body Content Section */
.all-body-content {
  display: flex;
}

               /* ----- Buttons ----- */
/* Temperature Units Buttons  */
#degrees-buttons-container {
  background-color: inherit;
  padding-top: 0;
  text-align: right;
}
#degrees-buttons-container button {
  border-radius: 100%;
  border-style: none;
  margin-top: 20px;
  padding: 0;
  height: 30px;
  width: 30px;
}
/* Search and GPS Button */
.searchCities-gpsBtn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}
/* GPS Location Button */
#gps-location-btn {
  border-radius: 100%;
  padding: 10px 15px;
}
.gps-location-section {
  display: block;
}
.gps-icon {
  font-size: 1.25rem;
}
/* Open Search Field Button */
.open-searchBar-btn {
  padding: 10px 20px  !important;
  background-color: dimgray;
  border: none;
  color: white;
  margin-right: 50px;
}
/* Exit Search Field Button */
.exit-btn-div,
.exit-btn {
  text-align: right;
}



/* ----- Sidepanel-1 (Current Weather Data) ----- */
.sidepanel-1-section {
  display: flex;
  flex-direction: column;
}
.current-weather-data-container {
  background-size: 100px 100px;
  /* background-image: url(imgs/cloud.png); */
  background-repeat: repeat;
  text-align: center;
}
.current-weather-icon {
  height: 200px !important;
  width: 200px !important;
  margin: 0;
}
.current-temperature {
  font-size: 3rem;
  margin: 0 !important;
}
.current-weather-description {
  font-size: 1.5rem;
}
.location {
  font-size: 1.5rem;
}
.sidepanel-1-footer-container {
  height: 100vh;
}
/* toggling this selector in JS */
.sidepanel-1-hidden {
  display: none;
}
/* ----- End ----- */


/* ----- Sidepanel-2 (City Search Field) ----- */

/* toggling this selector in JS */
.sidepanel-2-hidden {
  display: none;
}
.sidepanel-2-visible {
  margin: 20px 0;
}
.sidepanel-2-bottom {
  height: 100vh;
}

              /* ----- 3 Hour Forecast/Highlights ----- */
.main-forecast-section div {
  border-radius: 20px;
  margin: 10px;
}

/* 3 Hour Forecast */
.three-hour-forecast-section {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.three-hour-forecast-section div p {
  color: silver;
  display: inline-block;
}


/* Today's Highlights */
.highlights-section {
  display: flex;
  flex-direction: column;
}
.highlights-section div {
  padding: 0 20px;
  width: 300px;
}
.highlights-section span {
  font-size: 3rem;
}
.highlights-section p {
  font-size: 1.5rem;
}
.top-row-highlights,
.btm-row-highlights {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}


/* All Styling for Autocomplete City Search Bar */

* {
  box-sizing: border-box;
}

/*(This is the container of the search input field) positioned relative is important*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: lightgray;
  color: navy;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: white;
  width: 100%;
}

/* Search button in Sidepanel-2 */
button[type=submit] {
  background-color: lightgray;
  color: #000;
  cursor: pointer;
  padding: 10px 20px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*autocomplete items positioned to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  color: navy;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering a city in the search bar:*/
.autocomplete-items div:hover {
  background-color: AliceBlue;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: AliceBlue; !important;
  color: #000;
}
